* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open sans', sans-serif;
}

:root {
  --main-purple: #5C164E;
  --violet: #9B287B;
  --dark-purple: #402039;
  --variant: #E2FCEF;
  --white: #fff;
  --black: #000;
  --gray: #b1b1b1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.todolist li i:nth-child(1):hover {
  color: #9AE66E;
}

.todolist li i:nth-child(2):hover {
  color: #f74747;
}

/* todo checked state */

.checked {
  opacity: .5;
}

.todolist li .checkedicon {
  color: #9AE66E;
}

.completedtasks {
  z-index: 1;
}
/* scrollbar */

.todolist::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.todolist::-webkit-scrollbar-track {
  background: #333;        /* color of the tracking area */
}

.todolist::-webkit-scrollbar-thumb {
  background-color: var(--violet);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}